

/* Importing all component-specific CSS files */
@import './Navbar.css';
@import './Sidebar.css';
@import './Dashboard.css';


.app {
  display: flex;
}

.content {
  flex: 1;
  padding-left: 220px; /* Matches sidebar width */
  padding-top: 60px; /* Matches navbar height */
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  padding: 10px;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 1em;
}

.item-list li:hover {
  background-color: #e0e0e0;
}
